In [8]:
import pandas as pd
import numpy as np
import random
df=pd.read_csv ("data/athlets.csv")
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [17]:
df.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

# Simple random sample
Collect a simple random subset of games of 1000 observations.

In [15]:
# Plotting Random Sample Population
k = 1000
simple_random_sample = df.sample(k).reset_index(drop=True)
simple_random_sample.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,131822,Wu Tao-Yan,M,29.0,164.0,60.0,Chinese Taipei,TPE,1964 Summer,1964,Summer,Tokyo,Shooting,"Shooting Men's Free Rifle, Three Positions, 30...",NaN
1,82253,Ian Morris,M,30.0,175.0,65.0,Trinidad and Tobago,TTO,1992 Summer,1992,Summer,Barcelona,Athletics,Athletics Men's 400 metres,NaN
2,17662,Ivano Camozzi,M,25.0,176.0,71.0,Italy,ITA,1988 Winter,1988,Winter,Calgary,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
3,35638,John Basil Fitzgerald,M,31.0,185.0,77.0,Australia,AUS,1992 Summer,1992,Summer,Barcelona,Tennis,Tennis Men's Doubles,NaN
4,103856,Arthur Nicolai Rydstrm,M,24.0,NaN,NaN,Norway,NOR,1920 Summer,1920,Summer,Antwerpen,Gymnastics,"Gymnastics Men's Team All-Around, Free System",Silver

In [16]:
simple_random_sample.describe()

                  ID         Age      Height      Weight         Year
count    1000.000000  964.000000  778.000000  784.000000  1000.000000
mean    67322.877000   25.345436  174.998715   70.623087  1978.424000
std     39128.668599    6.329477   10.533210   14.975965    29.700477
min        67.000000   13.000000  138.000000   28.000000  1896.000000
25%     32748.750000   21.000000  168.000000   60.000000  1960.000000
50%     68712.500000   24.000000  175.000000   70.000000  1988.000000
75%     98886.000000   28.000000  182.000000   78.000000  2002.000000
max    135551.000000   70.000000  215.000000  155.000000  2016.000000

# Systematic sample
I choose every 200th athlet for systematic ramdom sampling

In [35]:
systematic_sample=df[df.index%200==0]
systematic_sample.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
200,93,Jol Marc Abati,M,38.0,190.0,85.0,France,FRA,2008 Summer,2008,Summer,Beijing,Handball,Handball Men's Handball,Gold
400,223,Mahmoud Abdel-Aal,M,19.0,NaN,NaN,Egypt,EGY,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,NaN
600,346,Shaza Yahia Nazih Abdulrahman El-Sayed,F,15.0,170.0,59.0,Egypt,EGY,2008 Summer,2008,Summer,Beijing,Synchronized Swimming,Synchronized Swimming Women's Team,NaN
800,458,Felix Ahmed Aboagye,M,20.0,176.0,70.0,Ghana,GHA,1996 Summer,1996,Summer,Atlanta,Football,Football Men's Football,NaN

In [36]:
systematic_sample.describe()

                  ID          Age       Height       Weight         Year
count    1356.000000  1307.000000  1041.000000  1014.000000  1356.000000
mean    68220.032448    25.528692   175.740634    70.944773  1977.958702
std     39049.063567     6.582942    10.560812    14.891311    30.332544
min         1.000000    13.000000   142.000000    35.000000  1896.000000
25%     34624.500000    21.000000   168.000000    60.000000  1960.000000
50%     68177.000000    24.000000   176.000000    70.000000  1988.000000
75%    102056.500000    28.000000   183.000000    78.750000  2002.000000
max    135513.000000    76.000000   211.000000   139.000000  2016.000000

# Stratified random sample
I would like to divide dataframe by sport

In [78]:
stratified_sample = df.groupby('Sport').apply(pd.DataFrame.sample, frac=0.05).reset_index(drop=True)
stratified_sample.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,116997,Aksel Lund Svindal,M,23.0,189.0,100.0,Norway,NOR,2006 Winter,2006,Winter,Torino,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
1,32782,Elena Epuran (Br-),F,24.0,NaN,NaN,Romania,ROU,1956 Winter,1956,Winter,Cortina d'Ampezzo,Alpine Skiing,Alpine Skiing Women's Downhill,NaN
2,16728,Bruno Burrini,M,24.0,NaN,NaN,Italy,ITA,1956 Winter,1956,Winter,Cortina d'Ampezzo,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
3,51715,Nevena Ignjatovi,F,19.0,176.0,73.0,Serbia,SRB,2010 Winter,2010,Winter,Vancouver,Alpine Skiing,Alpine Skiing Women's Slalom,NaN
4,47683,Kurt Hennrich,M,24.0,NaN,NaN,Czechoslovakia,TCH,1956 Winter,1956,Winter,Cortina d'Ampezzo,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN

In [79]:
stratified_sample.describe()

                  ID           Age        Height        Weight          Year
count   13556.000000  13077.000000  10545.000000  10418.000000  13556.000000
mean    68031.621496     25.557697    175.325462     70.668218   1978.184125
std     39157.199280      6.360161     10.400538     14.369288     29.631954
min         2.000000     11.000000    130.000000     28.000000   1896.000000
25%     34087.750000     21.000000    168.000000     60.000000   1960.000000
50%     68314.500000     24.000000    175.000000     70.000000   1984.000000
75%    101770.000000     28.000000    183.000000     79.000000   2002.000000
max    135571.000000     80.000000    220.000000    182.000000   2016.000000

# SMOTEÂ¶
SMOTE (Syntetic Minority Oversampling Technique) is an oversampling technique where the synthetic samples are generated for the minority class.

In [248]:

df_smote=df.copy()
df_smote["Medal"]=df_smote["Medal"].apply(lambda x: 1 if str(x) != "nan" else 0)
df_smote.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,0
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,0
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,0
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,1
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,0

In [249]:
df_smote['Medal'].value_counts()

0    231333
1     39783
Name: Medal, dtype: int64

In [250]:
df_smote=df_smote[['Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC','Year', 'Sport', 'Medal']]
df_smote.dropna(inplace=True)
df_smote.head()

  Sex   Age  Height  Weight         Team  NOC  Year          Sport  Medal
0   M  24.0   180.0    80.0        China  CHN  1992     Basketball      0
1   M  23.0   170.0    60.0        China  CHN  2012           Judo      0
4   F  21.0   185.0    82.0  Netherlands  NED  1988  Speed Skating      0
5   F  21.0   185.0    82.0  Netherlands  NED  1988  Speed Skating      0
6   F  25.0   185.0    82.0  Netherlands  NED  1992  Speed Skating      0

In [251]:
df_smote['Medal'].value_counts()

0    175984
1     30181
Name: Medal, dtype: int64

In [252]:
df_smote.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206165 entries, 0 to 271115
Data columns (total 9 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Sex     206165 non-null  object
 1   Age     206165 non-null  float64
 2   Height  206165 non-null  float64
 3   Weight  206165 non-null  float64
 4   Team    206165 non-null  object
 5   NOC     206165 non-null  object
 6   Year    206165 non-null  int64
 7   Sport   206165 non-null  object
 8   Medal   206165 non-null  int64
dtypes: float64(3), int64(2), object(4)
memory usage: 15.7+ MB

In [276]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X = df_smote.drop(["Medal"], axis=1)
y = df_smote["Medal"]
X.head()

  Sex   Age  Height  Weight         Team  NOC  Year          Sport
0   M  24.0   180.0    80.0        China  CHN  1992     Basketball
1   M  23.0   170.0    60.0        China  CHN  2012           Judo
4   F  21.0   185.0    82.0  Netherlands  NED  1988  Speed Skating
5   F  21.0   185.0    82.0  Netherlands  NED  1988  Speed Skating
6   F  25.0   185.0    82.0  Netherlands  NED  1992  Speed Skating

In [279]:
#MULTIconvert text data to numeric before applying SMOTE
from sklearn import preprocessing
class MultiColumnLabelEncoder:

    def __init__(self, columns=None):
        self.columns = columns # array of column names to encode


    def fit(self, Xc, y=None):
        self.encoders = {}
        columns = Xc.columns if self.columns is None else self.columns
        for col in columns:
            self.encoders[col] = preprocessing.LabelEncoder().fit(Xc[col])
        return self


    def transform(self, Xc):
        output = Xc.copy()
        columns = Xc.columns if self.columns is None else self.columns
        for col in columns:
            output[col] = self.encoders[col].transform(Xc[col])
        return output


    def fit_transform(self, Xc, y=None):
        return self.fit(X,y).transform(Xc)


    def inverse_transform(self, Xc):
        output = Xc.copy()
        columns = Xc.columns if self.columns is None else self.columns
        for col in columns:
            output[col] = self.encoders[col].inverse_transform(Xc[col])
        return output

In [287]:
multi = MultiColumnLabelEncoder(columns=['Sex','Team','NOC','Sport'])

Xc = multi.fit_transform(X)
Xc.head()

   Sex   Age  Height  Weight  Team  NOC  Year  Sport
0    1  24.0   180.0    80.0   114   40  1992      6
1    1  23.0   170.0    60.0   114   40  2012     26
4    0  21.0   185.0    82.0   374  142  1988     43
5    0  21.0   185.0    82.0   374  142  1988     43
6    0  25.0   185.0    82.0   374  142  1992     43

In [284]:
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE().fit_resample(Xc, y)
y_resampled.value_counts()

0    175984
1    175984
Name: Medal, dtype: int64

In [285]:
X_resampled.head()

   Sex   Age  Height  Weight  Team  NOC  Year  Sport
0    1  24.0   180.0    80.0   114   40  1992      6
1    1  23.0   170.0    60.0   114   40  2012     26
2    0  21.0   185.0    82.0   374  142  1988     43
3    0  21.0   185.0    82.0   374  142  1988     43
4    0  25.0   185.0    82.0   374  142  1992     43

In [289]:
invX_resample = multi.inverse_transform(X_resampled)
invX_resample.head()

  Sex   Age  Height  Weight         Team  NOC  Year          Sport
0   M  24.0   180.0    80.0        China  CHN  1992     Basketball
1   M  23.0   170.0    60.0        China  CHN  2012           Judo
2   F  21.0   185.0    82.0  Netherlands  NED  1988  Speed Skating
3   F  21.0   185.0    82.0  Netherlands  NED  1988  Speed Skating
4   F  25.0   185.0    82.0  Netherlands  NED  1992  Speed Skating

In [290]:
df_new = invX_resample
df_new ["Medal"] = y_resampled
df_new.head()

  Sex   Age  Height  Weight         Team  NOC  Year          Sport  Medal
0   M  24.0   180.0    80.0        China  CHN  1992     Basketball      0
1   M  23.0   170.0    60.0        China  CHN  2012           Judo      0
2   F  21.0   185.0    82.0  Netherlands  NED  1988  Speed Skating      0
3   F  21.0   185.0    82.0  Netherlands  NED  1988  Speed Skating      0
4   F  25.0   185.0    82.0  Netherlands  NED  1992  Speed Skating      0

In [293]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351968 entries, 0 to 351967
Data columns (total 9 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Sex     351968 non-null  object
 1   Age     351968 non-null  float64
 2   Height  351968 non-null  float64
 3   Weight  351968 non-null  float64
 4   Team    351968 non-null  object
 5   NOC     351968 non-null  object
 6   Year    351968 non-null  int64
 7   Sport   351968 non-null  object
 8   Medal   351968 non-null  int64
dtypes: float64(3), int64(2), object(4)
memory usage: 24.2+ MB

# Exercises 3
It continues with the sports theme dataset and generates a sample using the Reservoir sampling method

In [324]:
import random
SAMPLE_COUNT = 10000

# Force the value of the seed so the results are repeatable
random.seed(12345)

sample_index = []
for index, line in enumerate(df.index):
        # Generate the reservoir
        if index < SAMPLE_COUNT:
            sample_index.append(line)
        else:
                # Randomly replace elements in the reservoir
                # with a decreasing probability.
                # Choose an integer between 0 and index (inclusive)
            r = random.randint(0, index)
            if r < SAMPLE_COUNT:
                sample_index[r] = line
print(sample_index)

[46628, 111502, 107953, 153298, 214346, 26095, 6, 209560, 61066, 72451, 190311, 178654, 17300, 204230, 36003, 49150, 143309, 215614, 109297, 17495, 62676, 189954, 236587, 69057, 86073, 254520, 226281, 132217, 204330, 95397, 208763, 123967, 175392, 153886, 268387, 39650, 198349, 124386, 51753, 18254, 251433, 220254, 14486, 92499, 207232, 223164, 94915, 170221, 56044, 176174, 50693, 36470, 176567, 53, 204925, 29244, 95217, 87899, 181470, 209602, 60, 99983, 85706, 66314, 249357, 130025, 257294, 44391, 121064, 204190, 144763, 261547, 202634, 258539, 239877, 52514, 187150, 223002, 104053, 105711, 203693, 70427, 129355, 179444, 266617, 42876, 249863, 61144, 212125, 174118, 53338, 261612, 33056, 161174, 67988, 10387, 190975, 79523, 220942, 109813, 83548, 85711, 218299, 61161, 163015, 162296, 168936, 48839, 62891, 134417, 183404, 240845, 103309, 38058, 171861, 132624, 239647, 57431, 239314, 152541, 67139, 249449, 113176, 138998, 85725, 162561, 52628, 237971, 72604, 61172, 149788, 138684, 132, 109207, 83838, 126919, 129080, 45195, 256101, 203163, 150469, 144003, 80709, 225263, 233020, 168875, 13034, 229853, 12945, 92047, 94903, 110226, 170107, 66732, 58809, 61278, 184646, 13784, 225831, 26615, 248271, 47534, 108068, 167828, 165191, 176070, 110433, 158604, 88958, 147167, 11160, 130493, 168906, 208804, 68003, 175, 77045, 44194, 98436, 49153, 91213, 188788, 120664, 241687, 28156, 259806, 179757, 110163, 67193, 201407, 169588, 121365, 187173, 205244, 252172, 70596, 52720, 174785, 95433, 215492, 28919, 48632, 64453, 133920, 249837, 189061, 38485, 50864, 119080, 269082, 149993, 253481, 218997, 199167, 167804, 100299, 29565, 106027, 175389, 212021, 263961, 159995, 189711, 195832, 162132, 24964, 99467, 86253, 46879, 181815, 209677, 30624, 20527, 233, 16939, 60440, 223996, 266221, 250782, 175463, 89096, 79588, 226135, 230099, 135332, 67955, 74465, 261644, 75721, 182637, 177968, 171485, 252, 232294, 245490, 141819, 248526, 41880, 221040, 202923, 59839, 73447, 26239, 266252, 43245, 87604, 200924, 199809, 89862, 193880, 115919, 94719, 211778, 106265, 42289, 71270, 102277, 50549, 19722, 204244, 190384, 103439, 68962, 114903, 15945, 127666, 162710, 166006, 236365, 108002, 126384, 137007, 173029, 94406, 215150, 109459, 251885, 117447, 226493, 107167, 264500, 122803, 21957, 93803, 142840, 156017, 123370, 88622, 153058, 144951, 57612, 101969, 20293, 271112, 189037, 111402, 139133, 94660, 255005, 42227, 320, 11180, 172920, 166727, 178759, 235416, 90712, 217020, 101495, 162757, 40829, 23428, 332, 187539, 248742, 149859, 223913, 189407, 39468, 230152, 134338, 157116, 47823, 51786, 120498, 192729, 28160, 159754, 270407, 212670, 106802, 10511, 60962, 210689, 115406, 40026, 210761, 171933, 169157, 359, 142602, 78036, 41390, 257392, 152121, 231830, 254864, 13545, 147599, 36418, 90166, 168887, 179262, 86373, 191064, 210769, 153218, 174048, 197674, 170009, 87518, 264120, 117333, 157448, 219601, 107410, 64355, 165769, 255774, 198872, 138665, 232977, 45884, 227586, 68207, 124981, 34702, 146050, 55803, 166719, 194820, 48206, 46651, 10580, 82825, 174185, 226244, 160859, 174069, 51384, 101710, 187045, 194173, 81682, 141057, 267527, 52411, 84883, 140889, 98425, 96924, 46401, 96910, 162836, 34578, 220940, 240186, 190326, 171594, 148568, 228163, 31275, 72702, 136333, 42754, 108547, 120984, 70121, 180373, 96737, 201416, 240194, 246530, 235360, 52784, 189260, 74036, 447, 15138, 240351, 33325, 96981, 30714, 100761, 208441, 81301, 92608, 100272, 176005, 104186, 55337, 147834, 59551, 32432, 157023, 122936, 34267, 214768, 245451, 14157, 209787, 138477, 116633, 473, 241253, 269779, 59965, 156088, 162668, 145972, 152135, 33742, 140809, 107178, 227120, 107659, 122170, 31219, 229587, 18396, 86371, 145383, 61246, 99399, 262467, 112822, 122677, 76833, 35367, 130106, 182455, 187829, 253232, 139291, 50945, 213880, 66907, 53167, 193378, 92306, 226229, 156260, 211172, 243038, 261176, 179096, 104789, 268620, 222313, 149468, 236214, 168425, 92380, 170997, 20010, 233029, 71237, 207708, 257617, 21926, 121888, 101586, 48802, 245432, 93650, 239931, 224999, 71995, 262844, 36558, 219954, 214994, 160620, 166810, 135954, 186151, 30562, 22089, 41951, 235310, 550, 127395, 85947, 152487, 59999, 222509, 40620, 185015, 248465, 135153, 163665, 192431, 66843, 157617, 31627, 224559, 82761, 67638, 246913, 151779, 215552, 179920, 20193, 573, 254030, 127515, 112299, 126980, 230453, 21081, 203147, 106626, 582, 153571, 167776, 585, 133580, 29083, 170198, 37454, 19944, 68639, 115322, 85116, 126726, 189928, 23226, 106233, 23241, 206236, 193765, 62424, 233689, 199820, 141266, 19770, 105157, 210338, 64465, 233506, 223652, 611, 188416, 106177, 267234, 203281, 240340, 232511, 149745, 102181, 97579, 30473, 141148, 107808, 624, 242746, 245372, 171792, 160490, 88739, 65178, 18998, 24751, 243228, 634, 214107, 210428, 160984, 145248, 47697, 168231, 205078, 27019, 232501, 48176, 13647, 13573, 40312, 241090, 213500, 132522, 74600, 92409, 163509, 197527, 16745, 50786, 37570, 161344, 96591, 86932, 156873, 25703, 27135, 236121, 135271, 219789, 237929, 154087, 669, 165229, 92803, 19537, 129412, 45095, 19960, 62384, 121637, 214846, 78324, 183197, 179270, 237430, 159904, 151686, 183062, 24654, 160753, 247891, 40053, 101237, 264459, 254742, 24045, 208791, 193485, 265450, 161871, 110174, 204148, 240586, 43947, 146446, 159233, 57304, 71538, 152009, 20062, 159685, 116292, 94239, 197463, 24973, 15019, 97773, 80947, 45069, 146526, 233274, 129733, 214272, 44237, 126601, 176894, 69188, 237465, 142078, 243990, 234811, 124220, 210940, 38014, 260321, 262162, 44458, 101259, 736, 115632, 83744, 90578, 60375, 156171, 110597, 77479, 90203, 226612, 237690, 15091, 150384, 36017, 149564, 193401, 194728, 753, 123440, 78465, 182009, 103510, 92522, 183770, 80779, 236038, 762, 262445, 148926, 113756, 242788, 61145, 69407, 207353, 211238, 224928, 86263, 79871, 130290, 250453, 241639, 82771, 172868, 779, 186794, 98876, 82317, 156346, 114395, 143489, 48266, 204268, 230864, 150299, 91732, 205387, 251358, 257310, 141314, 55562, 197872, 178903, 174081, 163326, 239771, 180501, 85322, 243058, 223799, 34571, 182603, 807, 71522, 180298, 231239, 14196, 36827, 110291, 196294, 154940, 267040, 170857, 112457, 213942, 79922, 61989, 95388, 69665, 66457, 110610, 208362, 87940, 828, 117782, 252235, 232974, 249169, 259515, 162003, 172208, 125777, 77465, 220813, 85662, 159869, 210090, 842, 72618, 12510, 189684, 255066, 209936, 64428, 193706, 136322, 86783, 180852, 25228, 176312, 189279, 197790, 206319, 210650, 211783, 16462, 68321, 197495, 229703, 60982, 182705, 91092, 239716, 31171, 35666, 209604, 189140, 75189, 87323, 250678, 99745, 166045, 19402, 220094, 219313, 880, 88805, 11320, 161006, 23765, 206134, 19670, 44503, 104315, 127041, 196590, 227727, 144630, 145948, 53134, 53530, 117716, 65340, 80025, 187612, 27635, 181445, 75161, 34631, 31979, 161343, 152680, 12061, 67769, 909, 150905, 153478, 912, 88898, 199684, 269357, 174558, 127073, 129118, 262401, 239267, 115228, 21391, 233034, 104943, 114242, 142930, 150066, 66856, 231757, 115639, 198449, 103687, 176210, 173390, 186884, 97586, 124157, 174254, 101987, 213805, 21846, 142758, 99087, 266261, 251512, 205447, 179981, 96157, 102537, 53371, 228177, 212703, 56605, 954, 256759, 120101, 236698, 25827, 119757, 127204, 81611, 182763, 258578, 65798, 42692, 268818, 157066, 73857, 266468, 198089, 971, 972, 58200, 116544, 203560, 187761, 31154, 87006, 170192, 210145, 32617, 91688, 138319, 156326, 122825, 30592, 174702, 57248, 216435, 56984, 30609, 14803, 117670, 99630, 208330, 81123, 187951, 57499, 97517, 212874, 163827, 1002, 75360, 265312, 90082, 254562, 102227, 207321, 88131, 43885, 245200, 46039, 247402, 269601, 55587, 34379, 184275, 191113, 270962, 82830, 206091, 41799, 210709, 218251, 140662, 235305, 245404, 12021, 253934, 46321, 239081, 224426, 88857, 270999, 259763, 111078, 192333, 202262, 1039, 177074, 27705, 142026, 1043, 157026, 98517, 103561, 52210, 142620, 40123, 218359, 132445, 181358, 102746, 39823, 202798, 264175, 235511, 1058, 174513, 237888, 159910, 155315, 153921, 59506, 1065, 91262, 250364, 51996, 159429, 79971, 11672, 54932, 37522, 268746, 39991, 139905, 50113, 99664, 119644, 14652, 17448, 101943, 168214, 246977, 82592, 231163, 1087, 27693, 37708, 116096, 254393, 139722, 214677, 60129, 74999, 223451, 215763, 117417, 62834, 171102, 148552, 1102, 46790, 180682, 74334, 54482, 220667, 234326, 101738, 174095, 240781, 98178, 175870, 188646, 72838, 198263, 261611, 72878, 201934, 165687, 172347, 263953, 42786, 149540, 117029, 1126, 270778, 221299, 208452, 150629, 146652, 173246, 67298, 1134, 178642, 116260, 1137, 222247, 49017, 131547, 210871, 10320, 244870, 249886, 83735, 267756, 112671, 270004, 63478, 35797, 153473, 82030, 95244, 206966, 104772, 123229, 75057, 188036, 11061, 259941, 231142, 66115, 256891, 158346, 138994, 78814, 177787, 265691, 36389, 162295, 198654, 166878, 187353, 189649, 71720, 139858, 218237, 97555, 22772, 98357, 121178, 1182, 180376, 258214, 116581, 159590, 210952, 224351, 196610, 246648, 164223, 261532, 266219, 77384, 193903, 67747, 37581, 44666, 41761, 56541, 49817, 104861, 115701, 167756, 39437, 234757, 217931, 114872, 88421, 64902, 98989, 141480, 75744, 161197, 139918, 1216, 39501, 132761, 196933, 122786, 252833, 183705, 146930, 103771, 55377, 33270, 213089, 262070, 92402, 232928, 89807, 133714, 93887, 115863, 192244, 78841, 172327, 262012, 115566, 74358, 102598, 75022, 180792, 44322, 41875, 219765, 170629, 88977, 14296, 155969, 267860, 1252, 76775, 147590, 252653, 184316, 183217, 63297, 249607, 75033, 10659, 127991, 25699, 170402, 145662, 46341, 1267, 127674, 120983, 111869, 268830, 190225, 91171, 91874, 10026, 132934, 35869, 1278, 19988, 180964, 90031, 251924, 124207, 207723, 252073, 96172, 51795, 107281, 210134, 63916, 162922, 77370, 1293, 70779, 92454, 118893, 215860, 255679, 244406, 68658, 241193, 139562, 26820, 76571, 194094, 67877, 72563, 1308, 54131, 240008, 231200, 171400, 129146, 194381, 195284, 94103, 230771, 153363, 167012, 214935, 112746, 27778, 41582, 12279, 183207, 263122, 234243, 40834, 240422, 222935, 212416, 239316, 109998, 146124, 267045, 119345, 180507, 134071, 156298, 270410, 143535, 191331, 238913, 173024, 15057, 104724, 216298, 74728, 243981, 178014, 1351, 235147, 100453, 35664, 1355, 225497, 261726, 41753, 112547, 49820, 103234, 141818, 247208, 140034, 225969, 106927, 130571, 188201, 259008, 124616, 1371, 115446, 143364, 142755, 176679, 251908, 163403, 87528, 176931, 91110, 263207, 23592, 129020, 23732, 160807, 1386, 81919, 99021, 237423, 11213, 94403, 114927, 253370, 139719, 30925, 67191, 57815, 192579, 202493, 10771, 73714, 24756, 201841, 135183, 195693, 1406, 49181, 16122, 149825, 55430, 20224, 180052, 246407, 94998, 108522, 19428, 118179, 176180, 121949, 77521, 188513, 159897, 178025, 232820, 145308, 114253, 242183, 236857, 142599, 1430, 226367, 90165, 227383, 69856, 224356, 95682, 243862, 140004, 256791, 118816, 157525, 144617, 204398, 187564, 101069, 128356, 41101, 200167, 219699, 238811, 79355, 98732, 63929, 224118, 42071, 46649, 1457, 266612, 236726, 81741, 260082, 156740, 258793, 146444, 179161, 149705, 194479, 248073, 66624, 137689, 137745, 172406, 67052, 1474, 159585, 140773, 22977, 45968, 227321, 242514, 205887, 122809, 224771, 209969, 68912, 123531, 156680, 191121, 49267, 258434, 155486, 1492, 153400, 123001, 97564, 23763, 176170, 229790, 76755, 181101, 87219, 165808, 220419, 177657, 198311, 42873, 168343, 127249, 207143, 41070, 216244, 77008, 18423, 51712, 252964, 123383, 188950, 10427, 122418, 50451, 93234, 125167, 234885, 75894, 112177, 18799, 43259, 252332, 139668, 50831, 223939, 248025, 174034, 263115, 169134, 40040, 40049, 31556, 262312, 160660, 27443, 222231, 191348, 174736, 48239, 93461, 172904, 122398, 243510, 44788, 234714, 98596, 59900, 257498, 67079, 170734, 249952, 120548, 217323, 119399, 85678, 219112, 219045, 200337, 144192, 222110, 228709, 23776, 24860, 59408, 42035, 219979, 269809, 210266, 76204, 185209, 188156, 229900, 243608, 52854, 30332, 71632, 214335, 144861, 42457, 232048, 115140, 91253, 30940, 92864, 134926, 10827, 205252, 120687, 101232, 85898, 171030, 56156, 244235, 77092, 27433, 128081, 12119, 16033, 164606, 47480, 110942, 94001, 15398, 141789, 220381, 133432, 246230, 59660, 211552, 170646, 61266, 131480, 100481, 111168, 258457, 33631, 155568, 171488, 107114, 115508, 215532, 52872, 60869, 33557, 101330, 44292, 235420, 230886, 225718, 221318, 259070, 221565, 220859, 177372, 165410, 59782, 73208, 223173, 213082, 137757, 34558, 102351, 102674, 91238, 31708, 121974, 42722, 268806, 1655, 86247, 231092, 110552, 151663, 181851, 268571, 103585, 69185, 190487, 32953, 200781, 1667, 171314, 131411, 207006, 102807, 103057, 40932, 258381, 84385, 235987, 46989, 155708, 169210, 111582, 221921, 157199, 59752, 213242, 70520, 213425, 95351, 159402, 37087, 19850, 45585, 175387, 193569, 93680, 167271, 257975, 34082, 43031, 124140, 58292, 203342, 57935, 44071, 10722, 21981, 205299, 175144, 119515, 99420, 22734, 1711, 87133, 229197, 241067, 85017, 135436, 123549, 116466, 143427, 113592, 127945, 10648, 73851, 164874, 251342, 179403, 182397, 103464, 159282, 129213, 114852, 140834, 191703, 70397, 210541, 127452, 30313, 42798, 216294, 98147, 101474, 87683, 64749, 1744, 43644, 202868, 216124, 208321, 140859, 31439, 21178, 42919, 218668, 179414, 46919, 148640, 171832, 57317, 145559, 143052, 69098, 106024, 41872, 27005, 120513, 27710, 184027, 1768, 148442, 146729, 171534, 267063, 184023, 252566, 226540, 222522, 196079, 19612, 124370, 31990, 256100, 68667, 64384, 183048, 242808, 131927, 133476, 84763, 239345, 78317, 13236, 148331, 63156, 233625, 61454, 207033, 71488, 152927, 47133, 63274, 167076, 1802, 151790, 50086, 32758, 258302, 11030, 88753, 242048, 13766, 220272, 145171, 153073, 252847, 78117, 97993, 13957, 129276, 15734, 225611, 154542, 131260, 42976, 1824, 234713, 141858, 149498, 123124, 68369, 231720, 29281, 120202, 1833, 231364, 1835, 94559, 236369, 11778, 65415, 199952, 109452, 40485, 29606, 65907, 133641, 87942, 155424, 186100, 1849, 67894, 95940, 160175, 46556, 30366, 12609, 1856, 195448, 172800, 37077, 164787, 268089, 109209, 95664, 188771, 216631, 75291, 249255, 104718, 173101, 176262, 130673, 188542, 209680, 1874, 183900, 39218, 64606, 195059, 222128, 64934, 53368, 266830, 197877, 126250, 152817, 146320, 230702, 95720, 197079, 131031, 154212, 11489, 30912, 49331, 21658, 227185, 212873, 232598, 44306, 223098, 18673, 97561, 228194, 225658, 79586, 237693, 147013, 158570, 31455, 59602, 119768, 105410, 90815, 135891, 230632, 157875, 21130, 260219, 25792, 132452, 213462, 112027, 134344, 36734, 98617, 127307, 1927, 83599, 67713, 253201, 45393, 66614, 125463, 35132, 225107, 190203, 29380, 270743, 159997, 236382, 210429, 117308, 256607, 208439, 244159, 106028, 178449, 67659, 122127, 153904, 18019, 61924, 243293, 120582, 150449, 108209, 202020, 190485, 205712, 20868, 265880, 41360, 101370, 20009, 171398, 60554, 105680, 193400, 23631, 251690, 234851, 211584, 222162, 51279, 221108, 216335, 146336, 194215, 236137, 31764, 259408, 184105, 268877, 59932, 68611, 111074, 242443, 201918, 261227, 92821, 264448, 169876, 204897, 33856, 144735, 105328, 75299, 218692, 225741, 263444, 262548, 132283, 167576, 118688, 51885, 95833, 19875, 151830, 65056, 259009, 44836, 139056, 65045, 213325, 85483, 193111, 199268, 118499, 176385, 152582, 269365, 47871, 159801, 88369, 2025, 27043, 211463, 152107, 32647, 84709, 31629, 134907, 98676, 171192, 33940, 101674, 150272, 105137, 203213, 257928, 158857, 107113, 38365, 221043, 89057, 237736, 239195, 224932, 29031, 67049, 210894, 134066, 71006, 89007, 126226, 47742, 160994, 116586, 72366, 122777, 226309, 239898, 204597, 141552, 145175, 94549, 153028, 239854, 144226, 62701, 44550, 42096, 214868, 104912, 145164, 135141, 115595, 234720, 140570, 106268, 112082, 222229, 2083, 110266, 56186, 187266, 178938, 120317, 222811, 254152, 2091, 202776, 37074, 166342, 268602, 65910, 234257, 94087, 175603, 88947, 241038, 89926, 94607, 130357, 237508, 212923, 75226, 225523, 85530, 58094, 225110, 226536, 32252, 114795, 147474, 113159, 73609, 132499, 133198, 188583, 262837, 234445, 130472, 44887, 2125, 21593, 10063, 206473, 2129, 264184, 134100, 67097, 49845, 133475, 217578, 209940, 53004, 198043, 257853, 117747, 203674, 68413, 181757, 236610, 60234, 71655, 96558, 160309, 43012, 189134, 110842, 61519, 219634, 172759, 90877, 244654, 251969, 161942, 40841, 115259, 173153, 148792, 94656, 252660, 174427, 188415, 21051, 107366, 100707, 117384, 241115, 223612, 259504, 237865, 140251, 210139, 236609, 259576, 79239, 27028, 52421, 64226, 44861, 112820, 173616, 70576, 87055, 266939, 50206, 173587, 264650, 15542, 77037, 114911, 268371, 193570, 157477, 194978, 73361, 106244, 2201, 137777, 168597, 53687, 84739, 2206, 155267, 194773, 2209, 82662, 24789, 10150, 196785, 100295, 15626, 112865, 232856, 47095, 58247, 123777, 196888, 101949, 151338, 229144, 216030, 146510, 44295, 259681, 10189, 98995, 193799, 248850, 131672, 17884, 60412, 208271, 136691, 235959, 143784, 218667, 70910, 2242, 88696, 177123, 58835, 183717, 92461, 33560, 98936, 105207, 36988, 139612, 194733, 249084, 90581, 110721, 235414, 124555, 143064, 52037, 41532, 11465, 18837, 182992, 75609, 107935, 222211, 228262, 105977, 269522, 236958, 149641, 129312, 194001, 217021, 226841, 78975, 100833, 269009, 209380, 171321, 145997, 251377, 58160, 90670, 212472, 136067, 127375, 28113, 154540, 141227, 68410, 68320, 191900, 27011, 38993, 16688, 65863, 190246, 100152, 105546, 160083, 266377, 58479, 249127, 45760, 79701, 87740, 143450, 35915, 221200, 151456, 176748, 269405, 180132, 109131, 75664, 117641, 65948, 173243, 35927, 67489, 177405, 244929, 265581, 158985, 196398, 238723, 40194, 110697, 186309, 112893, 229584, 169500, 92033, 64978, 154996, 42267, 78470, 26645, 222012, 2342, 145455, 20767, 22343, 82617, 193509, 217155, 123909, 118206, 67089, 148304, 186748, 123722, 35855, 2356, 143125, 118039, 25041, 171845, 257451, 239100, 136623, 158975, 120532, 219111, 106262, 220288, 245409, 92453, 182670, 152261, 40289, 254011, 268480, 257578, 226284, 13211, 81725, 160347, 194251, 47576, 164897, 18712, 242418, 50588, 107579, 214173, 185374, 117922, 134541, 178520, 20083, 230517, 169573, 46314, 83919, 60470, 83427, 51592, 41309, 13440, 113245, 111701, 165751, 2406, 2407, 160296, 11457, 225839, 155986, 49679, 16234, 240639, 83378, 228201, 229098, 256346, 16114, 190183, 184995, 180741, 187041, 153506, 60307, 119723, 80760, 109696, 64326, 82954, 188241, 268965, 132131, 84543, 152945, 153049, 140277, 59739, 144499, 172352, 122611, 231985, 232450, 73947, 175754, 125747, 91492, 72308, 11522, 197264, 25693, 253359, 225511, 214967, 71688, 88754, 190839, 15189, 152245, 40253, 2461, 242303, 130647, 26365, 27109, 140760, 156747, 266437, 222031, 100774, 165777, 103817, 96473, 11119, 246426, 40935, 106001, 46220, 130121, 24909, 162825, 118141, 29509, 157732, 62935, 242025, 42352, 223498, 180645, 212155, 146671, 235083, 95650, 241292, 179846, 188954, 137693, 76256, 85885, 104449, 67598, 103519, 104169, 101073, 60236, 190571, 93568, 49406, 239507, 189119, 105044, 18030, 76332, 24560, 137254, 63589, 27517, 184753, 242996, 76996, 99868, 2522, 35107, 270473, 2525, 99559, 157021, 248623, 14399, 94273, 10585, 243987, 2533, 202906, 212376, 205567, 74228, 136786, 23053, 108225, 45219, 108550, 19270, 28356, 2545, 53981, 258076, 132471, 113417, 263452, 139374, 140838, 228523, 99337, 24093, 181113, 22508, 76624, 2559, 26310, 61302, 224507, 19247, 12979, 61938, 63617, 63670, 55499, 232224, 146798, 53064, 129097, 67103, 249065, 262136, 123231, 132518, 79318, 261891, 262227, 258051, 213355, 197276, 256023, 216593, 40773, 219556, 35862, 211720, 98760, 70248, 202617, 123561, 153717, 148868, 212111, 197355, 152713, 10417, 197519, 269253, 229137, 2603, 109996, 126443, 195174, 183571, 239426, 52667, 131416, 252662, 172103, 152639, 169170, 60240, 167623, 108228, 251605, 93597, 39298, 241540, 129140, 103647, 258822, 250559, 186038, 267287, 201283, 255361, 149707, 116638, 55643, 191383, 105575, 262876, 151294, 250560, 235036, 183188, 29755

In [326]:
df_reservoir=df[df.index.isin(sample_index)]
df_reservoir.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
53,17,Paavo Johannes Aaltonen,M,32.0,175.0,64.0,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Parallel Bars,NaN
60,20,Kjetil Andr Aamodt,M,20.0,176.0,85.0,Norway,NOR,1992 Winter,1992,Winter,Albertville,Alpine Skiing,Alpine Skiing Men's Super G,Gold
132,47,Erling Rudolf Aastad,M,26.0,177.0,74.0,Norway,NOR,1924 Summer,1924,Summer,Paris,Athletics,Athletics Men's Long Jump,NaN
175,73,Luc Abalo,M,31.0,182.0,86.0,France,FRA,2016 Summer,2016,Summer,Rio de Janeiro,Handball,Handball Men's Handball,Silver